<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace='com.ssm.service.EmpService'>
 
  <select id='getOne' parameterType='Integer' resultType='Employee'>
     SELECT *
     FROM employee e
     left join department d on e.d_id=d.id 
     WHERE e.id = #{id}
  </select>
 
 
 	<resultMap type="Department" id="dept">
 		<result property="id" column="id"/>
 		<result  property='departmentName' column='departmentName'/>
 	</resultMap>
 
   <resultMap type='Employee' id='empMap'>
	    <result property='id' column='id'/>
	    <result property='lastName' column='lastName'/>
	    <result property='email' column='email'/>
	    <result property='gender' column='gender'/>
	    <result property='did' column='d_id'/> 
	   <!-- 
	    <result property="department" column="com.ssm.bean.Department"/> 
	    --> 
	    <association property="department" javaType="com.ssm.bean.Department">
	    <result  property='id' column='id'/>
	    <result  property='departmentName' column='departmentName'/>
	    </association>
   </resultMap>

  <select id='getAll' resultMap='empMap'>
   SELECT * FROM employee
  </select>
 
  <insert id='addEmp' parameterType='Employee' useGeneratedKeys='true' keyProperty='id'>
   INSERT INTO employee VALUES(#{name},#{email},#{gender},#{d_id})
  </insert>
 
  <update id='updateEmp' parameterType='Employee'>
    UPDATE employee 
    SET
    lastName=#{name}
    email=#{email}
    gender=#{gender}
    d_id=#{d_id}
    WHERE id = #{id}
  </update>
 
  <delete id='deleteEmp' parameterType='Integer'>
    DELETE FROM employee WHERE id = #{id}
  </delete>
 
</mapper>